body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-4{
  max-width: 33.33%;
  padding: 15px;
}
.box img{
  width: 100%;

}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 14px 9px 44px 17px rgba(34, 60, 80, 0.2);
  padding: 20px 30px;
  border-radius: 15px;
}
span{
  font-weight: 400;
}
.deleteBtn{
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid red;
  color: #fff;
  background-color: red;
  cursor: pointer;
}
.editBtn{
  padding: 5px 15px;
  border-radius: 8px;
  border: 1px solid green;
  color: #fff;
  background-color: green;
  cursor: pointer;
}